<!--
  ~ JIRA Plugin for Jenkins
  ~ Copyright (C) 2012 Marvelution
  ~ info@marvelution.com
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<div>
	The URL to POST to when a build is completed to notify JIRA.<br/>
	This can either be a specific URL to post to, but it also supports a custom format to support Application Link RPC URLs.<br/>
	When specifying an URL in format applink://[application-id]:[job-id] then the actual URL at notification time will be
	[application-rpc-url]/rest/jenkins/1.0/job/[job-id]/sync
</div>
